body {
    font-family: cursive;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    background-image: url('./assets/544750.jpg');
    background-attachment: fixed;
    margin: 0;
    padding: 0;
   }
   a {
    text-decoration: none;
   }
   li {
    list-style: none;
   }
   /* NAVBAR STYLING STARTS */
   
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    color: #fff;
    margin:10px 50px ;
   }
   .nav-links a {
    color: #fff;
   }
   /* LOGO */
   .logo {
    font-size: 32px;
   }
   /* NAVBAR MENU */
   .menu {
    display: flex;
    gap: 1em;
    font-size: 20px;
   }
   .menu li:hover {
    background-color: rgba(255, 255, 255, 0.349);
    border-radius: 5px;
    transition: 0.3s ease;
    text-decoration: none;
   } 
   .menu .active{
    background-color: rgba(255, 255, 255, 0.212);
    border-radius: 5px;
   }
   .menu li {
    padding: 5px 14px;
   }
   .user{
       display: flex;
       flex-direction: row;
       align-items: center;
       padding: 5px 10px ;
       border-radius: 5px;
        transition: 0.3s ease;
   }

   .user img{
       height: 30px;
       width: 30px;
       border-radius: 50%;
        margin-right: 10px;
   }
   .user p{
       font-size: 18px;
       margin-top: 8px;
   }
   .user:hover{
       background-color: rgba(255, 255, 255, 0.205);
   }
   .navbar .dropdown {
    position: relative;
    display: inline-block;
  }
   .navbar .dropdown .dropdown-content{
       display: none;
       position: absolute;
       background-color: rgba(255, 255, 255, 0.096);
       min-width: 200px;
       box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
       transform: translateX(-100px);
   }
   .navbar .dropdown .dropdown-content a{
       color: #fff;
       text-decoration: none;
       font-size: 18px;
       margin:  10px 20px;
     

   }
   .dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
   
  }
.homebody{

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
  
}
/* ************************** css body ******************* */
   .container1{
       width: 70%;
       display: flex;
       flex-direction: column;
       justify-self: space-around;
       margin: auto;
       padding: 0 20px 20px 20px;

   } 
   .container1 .userinfo{
      
       width: 100%;
     
       
   }
   .container1 .userinfo .photocoverture{
       height: 400px;
       max-width: 100%;
       z-index: 1000;
       background: linear-gradient(#a5a5a5c0, #6160606b);
       margin: auto;
       border-radius: 30px;
       
      
   }
   .container1 .userinfo .photocoverture .addphotocover
   {
       position: relative;
   }
   .container1 .userinfo .photocoverture label{
       /* all: unset; */
       height: 40px;
       width: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        position:absolute;
        bottom:-380px;
        right:40px;
       background-color: rgba(255, 255, 255, 0.788);
       border-radius: 30%;
   }
   .container1 .userinfo .photocoverture  svg{
       width: 30px;
       height: 30px;
       color: #0e0ebbad;
   }
   .container1 .userinfo .photocoverture img{
       height: 100%;
       width: 100%;
       border-radius: 20px;
   }
   .container1 .userinfo .userdetail {
       display:flex;
       flex-direction: row;
       align-items: center;
       margin-left: 10%;
       transform: translateY(-50px);
   }
   .container1 .userinfo .userdetail img{
       width: 200px;
       height: 200px;
       border-radius: 50%;
       border: 3px solid rgba(255, 255, 255, 0.514);
   }
   .container1 .userinfo .userdetail h3{
       font-size: 40px;
       color: #fff;
       margin-left:  5%;
   }

   @media only screen and (max-width:1200px) {
    .container1{
        width: 100%;
    }
}

.profilebody{
    display: flex;
    justify-content: space-around;
    /* justify-content: space-around; */
    
}
.profilebody .container2{
    display: flex;
    flex-direction: row;
}
.profilebody .side-left{
    margin: 10px;
    width: 400px;
    height: 500px;
    
}
.profilebody .side-right{
    margin: 10px;
    width: 600px;
    height: 500px;
    

}
.updateinfo{
    border-radius: 20px;
    background-color:rgba(255, 255, 255, 0.5);
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    align-items: center;
}
.updateinfo .form-group{
    width: 80%;
    
}
.updateinfo .form-group input{
    all: unset;
    width: 100%;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.616);
    border-radius: 10px;
    border: 2px solid rgba(85, 85, 85, 0.486);
    padding: 5px;
    /* padding-left: 20px; */
}
.updateinfo .form-group button{
    all: unset;
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 20px;
    background-color:#19447e ;
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
}
.updateinfo .form-group button:focus {
    opacity: 0.75;
}
.updateinfo h5
{   font-size: 25px;
    font-weight: 600;
    color: #163a69;
    margin-bottom: 30px;
}
.newpost{
    margin: auto;
    width: 100%;
    max-width: 600px;
    background-color:rgba(255, 255, 255, 0.281) ;
   
    border-radius: 10px;
    
  }
  .newpost .description{
      display: flex;
      flex-direction: row;
      padding: 10px;
      border-radius: 20px;
      margin:10px 0;


  }
  .newpost .description img{
      width: 60px;
      height: 60px;
      margin: 5px 10px;
      border-radius: 50%;
  }
  .newpost .description input{

    width: 100%;
    opacity: 0.8;
    padding-left: 20px;
    border-radius: 20px;
 
  }
     
  .newpost .photoinput{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 10px 20px 10px 20px;
}

.newpost .photoinput input[type=file]{
    display: none;
}

  .newpost .photoinput img{
      width: 50px;
      height: 50px;
      border-radius: 50%;
  }
.sendlogo{
  all: unset;

}
.sendlogo svg{
    color:#19447e;
    width: 40px;
    height: 40px;
   
}
/* ****************style de posts*************** */
.newpost .userinfo{
    display: flex;
    flex-direction: row;

}
.newpost .userinfo img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.newpost .postphoto img{
    width: 500px;
    height: 500px;
}
.newpost .userinfo p{
    font-size: 20px;
    
}
.action{
    
    display: flex;
    flex-direction: row;
    background-color: rgba(255, 255, 255, 0.568);
    height: 30px;
    border-radius: 0 0 10px 10px;
}
.action .btns{
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}
.action button{
    all: unset;
   
    cursor: pointer;

}
.action button svg{
    width: 25px;
    height: 25px;
    color: red;
    cursor: pointer;
}
.idpublication{
    display: none;
}
.hide{
    display: none;
}
/* *************************************popup comment**************** */
.commentairepopup{
      background-color: #0000;
      z-index: 10000;
      /* height: 200px; */
     padding: 10px 20px;
    
}

.commentairepopup .modalheader{
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    
}
.modalheader .hidecomments{
    all:unset;
    border: 2px solid rgba(255, 6, 6, 0.527);
    color: red;
    background-color: none;
    padding: 5px 20px;
    border-radius: 10px;
    cursor: pointer;
    
    
}

 .commentairepopup .commentbody{
    max-height: 200px;
    overflow-y: scroll;
    scrollbar-width: none;
    display: flex;
    flex-direction: column;
 }
 .commentairepopup .commentbody .comment{
     display: flex;
     flex-direction: row;
     z-index: 1000;
     margin-bottom: 5px;
     border-bottom: 2px solid rgba(75, 74, 74, 0.322);

 }
 .commentairepopup .commentbody .comment img{
     width: 30px;
     height: 30px;
     border-radius: 50%;
     margin-right: 20px;
 }
 .commentairepopup .commentbody .comment p{
     font-size: 17px;
     max-height: 60px;
     overflow-y: scroll;
     scrollbar-width: none;

    
 }
.commentairepopup .formcomment {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 10px;

}
.commentairepopup .formcomment  input{
    all: unset;
    width: 60%;
    background-color: rgba(255, 255, 255, 0.404);
    padding: 5px;
    padding-left: 20px;
    font-weight: 500;
    border-radius: 10px;
}
.commentairepopup .formcomment  button{
    all: unset;
    width: 20%;
    border-radius: 10px;
    background-color: #0f5cc2;
    color: #fff;
    padding: 5px;
    font-weight: 500;
    cursor: pointer;
}

.container2 .photos{
    /* display:flex ;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around; */
    background-color: rgba(255, 255, 255, 0.5);
    padding: 20px;
    border-radius: 20px;
}  
.container2 .photoconatiner{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-height: 230px;
    min-height: 100px;
    overflow-y: scroll;
    scrollbar-width: none; /* For Firefox */
}
.container2 .photoconatiner::-webkit-scrollbar{
    display: none;
    width: 0px;
}
.container2 .photos h4{
    font-size: 25px;
    font-weight: 600;
    color: #163a69;
    margin-left: 20px;
}
.container2 .photos .photo{
    width: 30%;
    height: same-as-width;
    margin: 5px;
    border-radius: 5px;
}
.container2 .photos .photo img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    cursor: pointer;
}

.userdetail .photoprofile .addphotoprofile{
    position:relative ;
}
.userdetail .photoprofile .addphotoprofile label{
        height: 40px;
        width: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        /* bottom:-10% ; */
        top: 140px;
        right: 0;
        background-color: rgba(255, 255, 255, 0.788);
        border-radius: 30%;
}
.userdetail .photoprofile .addphotoprofile label svg{
    width: 30px;
height: 30px;
color: #0e0ebbad;
}